/* UserDetails.css */
.user-details {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-details h1 {
  text-align: center;
  color: #333;
}

.detail {
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.detail:last-child {
  border-bottom: none;
}

.detail strong {
  display: block;
  color: #555;
}

.detail span {
  display: block;
  font-size: 1rem;
  color: #333;
}

button:hover {
  background-color: #0056b3;
}

.user-details .pin {
  display: flex;
  margin-top: 5px;
}
